<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/andretost/git/advent-calendar/public/audio/dec-1.mp3</key>
	<data>
	Ym9vazgDAAAAAAQQMAAAAPqcLTPQbk+mi3FoevX4BXKl3akwT+TS4hGPpbMlYwrYNAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGFuZHJldG9zdAAAAAMA
	AAABAQAAZ2l0AA8AAAABAQAAYWR2ZW50LWNhbGVuZGFyAAYAAAABAQAAcHVibGljAAAF
	AAAAAQEAAGF1ZGlvAAAACQAAAAEBAABkZWMtMS5tcDMAAAAcAAAAAQYAABAAAAAgAAAA
	NAAAAEAAAABYAAAAaAAAAHgAAAAIAAAABAMAAEJCAAAAAAAACAAAAAQDAACVFQQAAAAA
	AAgAAAAEAwAAVsQKAAAAAAAIAAAABAMAAOYZcAMAAAAACAAAAAQDAAAH0XADAAAAAAgA
	AAAEAwAAjgZxAwAAAAAIAAAABAMAAI0xeAMAAAAAHAAAAAEGAACwAAAAwAAAANAAAADg
	AAAA8AAAAAABAAAQAQAACAAAAAAEAABBxwXLidgsVBgAAAABAgAAAQAAAAAAAAAPAAAA
	AAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmls
	ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHG
	45qFAAAAJAAAAAEBAABCQjRBNDE3MS0yQ0RFLTRFNDgtQjJCNi1BNEU1NTVGMTYxMEMY
	AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
	zAAAAP7///8BAAAAAAAAABAAAAAEEAAAjAAAAAAAAAAFEAAAIAEAAAAAAAAQEAAAVAEA
	AAAAAABAEAAARAEAAAAAAAACIAAAIAIAAAAAAAAFIAAAkAEAAAAAAAAQIAAAoAEAAAAA
	AAARIAAA1AEAAAAAAAASIAAAtAEAAAAAAAATIAAAxAEAAAAAAAAgIAAAAAIAAAAAAAAw
	IAAALAIAAAAAAAABwAAAdAEAAAAAAAARwAAAIAAAAAAAAAASwAAAhAEAAAAAAAAQ0AAA
	BAAAAAAAAAA=
	</data>
	<key>/Users/andretost/misc pics/tarek/new/dec-1a.png</key>
	<data>
	Ym9vawwDAAAAAAQQMAAAAM6QlYCqyOB0EE1ivSxNuI2TKVDWpQ0nxnKFqH4sCvUFCAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGFuZHJldG9zdAAAAAkA
	AAABAQAAbWlzYyBwaWNzAAAABQAAAAEBAAB0YXJlawAAAAMAAAABAQAAbmV3AAoAAAAB
	AQAAZGVjLTFhLnBuZwAAGAAAAAEGAAAQAAAAIAAAADQAAABIAAAAWAAAAGQAAAAIAAAA
	BAMAAEJCAAAAAAAACAAAAAQDAACVFQQAAAAAAAgAAAAEAwAAH78yAAAAAAAIAAAABAMA
	ABQONQAAAAAACAAAAAQDAADhU30DAAAAAAgAAAAEAwAAJ5R9AwAAAAAYAAAAAQYAAJgA
	AACoAAAAuAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQccID5t+wI0YAAAAAQIAAAEAAAAA
	AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
	AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAA
	AAAEAABBxuOahQAAACQAAAABAQAAQkI0QTQxNzEtMkNERS00RTQ4LUIyQjYtQTRFNTU1
	RjE2MTBDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
	AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAHgAAAAAAAAABRAAAPgAAAAAAAAA
	EBAAACgBAAAAAAAAQBAAABgBAAAAAAAAAiAAAPQBAAAAAAAABSAAAGQBAAAAAAAAECAA
	AHQBAAAAAAAAESAAAKgBAAAAAAAAEiAAAIgBAAAAAAAAEyAAAJgBAAAAAAAAICAAANQB
	AAAAAAAAMCAAAAACAAAAAAAAAcAAAEgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgBAAAA
	AAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/andretost/misc pics/tarek/new/dec-1b.png</key>
	<data>
	Ym9vawwDAAAAAAQQMAAAAKerOXVOQdMhoAMqTLU6F+1OHff+tlE/gZ/wO2YD9Q56CAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGFuZHJldG9zdAAAAAkA
	AAABAQAAbWlzYyBwaWNzAAAABQAAAAEBAAB0YXJlawAAAAMAAAABAQAAbmV3AAoAAAAB
	AQAAZGVjLTFiLnBuZwAAGAAAAAEGAAAQAAAAIAAAADQAAABIAAAAWAAAAGQAAAAIAAAA
	BAMAAEJCAAAAAAAACAAAAAQDAACVFQQAAAAAAAgAAAAEAwAAH78yAAAAAAAIAAAABAMA
	ABQONQAAAAAACAAAAAQDAADhU30DAAAAAAgAAAAEAwAAJZl9AwAAAAAYAAAAAQYAAJgA
	AACoAAAAuAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQccIELuS73gYAAAAAQIAAAEAAAAA
	AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
	AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAA
	AAAEAABBxuOahQAAACQAAAABAQAAQkI0QTQxNzEtMkNERS00RTQ4LUIyQjYtQTRFNTU1
	RjE2MTBDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
	AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAHgAAAAAAAAABRAAAPgAAAAAAAAA
	EBAAACgBAAAAAAAAQBAAABgBAAAAAAAAAiAAAPQBAAAAAAAABSAAAGQBAAAAAAAAECAA
	AHQBAAAAAAAAESAAAKgBAAAAAAAAEiAAAIgBAAAAAAAAEyAAAJgBAAAAAAAAICAAANQB
	AAAAAAAAMCAAAAACAAAAAAAAAcAAAEgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgBAAAA
	AAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/andretost/misc pics/tarek/new/dec-1c.png</key>
	<data>
	Ym9vawwDAAAAAAQQMAAAAFiuhnWeJNxgvp11x62vA55BcuTsrxkfQ9LqTsXCL8abCAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGFuZHJldG9zdAAAAAkA
	AAABAQAAbWlzYyBwaWNzAAAABQAAAAEBAAB0YXJlawAAAAMAAAABAQAAbmV3AAoAAAAB
	AQAAZGVjLTFjLnBuZwAAGAAAAAEGAAAQAAAAIAAAADQAAABIAAAAWAAAAGQAAAAIAAAA
	BAMAAEJCAAAAAAAACAAAAAQDAACVFQQAAAAAAAgAAAAEAwAAH78yAAAAAAAIAAAABAMA
	ABQONQAAAAAACAAAAAQDAADhU30DAAAAAAgAAAAEAwAAMJF9AwAAAAAYAAAAAQYAAJgA
	AACoAAAAuAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQccIDxo/ql4YAAAAAQIAAAEAAAAA
	AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
	AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAA
	AAAEAABBxuOahQAAACQAAAABAQAAQkI0QTQxNzEtMkNERS00RTQ4LUIyQjYtQTRFNTU1
	RjE2MTBDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
	AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAHgAAAAAAAAABRAAAPgAAAAAAAAA
	EBAAACgBAAAAAAAAQBAAABgBAAAAAAAAAiAAAPQBAAAAAAAABSAAAGQBAAAAAAAAECAA
	AHQBAAAAAAAAESAAAKgBAAAAAAAAEiAAAIgBAAAAAAAAEyAAAJgBAAAAAAAAICAAANQB
	AAAAAAAAMCAAAAACAAAAAAAAAcAAAEgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAFgBAAAA
	AAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
